<!DOCTYPE html>
<html ng-app="ExampleApplication">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>AngularJS example 1</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/page.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="assets/js/page.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container" data-ng-controller="ExampleController">
        <h1>AngularJS examples</h1>
        <p>Some AngularJS examples of various functionality.</p>

        <div class="row">
            <div class="col-md-12">
                <h2>Expression example</h2>
                <p>Expressions can be used easily used to evaluate JS on the page using variables or properties set in the scope. For example:</p>
                <code data-ng-non-bindable>2 + 3 = {{2 + 3}}</code>
                <p>becomes...</p>
                <code>
                    2 + 3 = {{2 + 3}}
                </code>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Data binding example</h2>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type something here" data-ng-model="exampleLabel">
                    </div>
                </form>
                You typed: "{{exampleLabel}}".

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>List example (ng-repeat)</h2>

                <form class="form-inline" role="form" name="addPersonForm" data-ng-submit="addPerson(newPerson)">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="newPerson.name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Age" name="age" data-ng-model="newPerson.age" required>
                    </div>
                    <span data-ng-show="addPersonForm.age.$error.required">Required</span>
                    <span data-ng-show="addPersonForm.age.$error.number">Number</span>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>

                <span data-ng-show="addPersonForm.age.$error.required">Age is required.</span>
                <span data-ng-show="addPersonForm.age.$error.number">Age should be a number.</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-class="{blue: person.name == exampleLabel}" data-ng-repeat="person in listOfPeople | filter:filterTable">
                            <td>{{person.name}}</td>
                            <td>{{person.age}}</td>
                        </tr>
                    </tbody>
                </table>

                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="filterTable">Name</label>
                        <input type="text" class="form-control" id="filterTable" placeholder="Filter table" data-ng-model="filterTable">
                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Show/hide example (ng-show)</h2>
                <form role="form">
                    <label>
                        <input type="checkbox" data-ng-model="showCat" /> Show cat.
                    </label>
                    <span data-ng-show="showCat">Cat</span>

                    <label>
                        <input type="checkbox" data-ng-model="showDog" /> Show dog.
                    </label>
                    <span data-ng-show="showDog">Dog</span>
                </form>
            </div>
        </div>

    </div> <!-- /container -->

    <div id="blah" data-ng-controller="AnotherController">
        <form class="form-inline" role="form" name="addPersonForm" data-ng-submit="addPerson(newPerson)">
            <div class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="newPerson.name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="age">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Age" name="age" data-ng-model="newPerson.age" required>
            </div>
            <span data-ng-show="addPersonForm.age.$error.required">Required</span>
            <span data-ng-show="addPersonForm.age.$error.number">Number</span>
            <button type="submit" class="btn btn-default">Add</button>
        </form>

        <span data-ng-show="addPersonForm.age.$error.required">Age is required.</span>
        <span data-ng-show="addPersonForm.age.$error.number">Age should be a number.</span>
    </div>


</body>
</html>
